{% extends "world-atlas/index.html" %}
{% block body %}
    {% load static %}
    <h2>{{ name }}</h2>

<form id="chat-form">
    <input type="text" id="chat-message" placeholder="Enter your message here...">
    <button type="submit" id="submit">Send</button>
    <button type="submit" id="close">Leave</button>
</form>
<div id="chat-log">
<table class="min-w-lg table-auto w-full" id="chat-table">
  <thead >
    <tr class="bg-gray-200" id="chat-th">
    </tr>
  </thead>
  <tbody id="chat-tbody" class="text-center">
  </tbody>
</table>
</div>

    {{ slug|json_script:"room_name" }}
    {{ request.user.username|json_script:"username" }}
    <script src="{% static 'js/room.js' %}"></script>
{% endblock %}
